<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Weather observations</title>
        <meta charset="UTF-8">
            <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    </head>
    <body>
        <div>
            <ul>
                <li th:each="point : ${points}">
                    <a th:href="@{/{pointId}(pointId=${point.id})}" th:text="${point.name}">Point</a>
                </li>   
            </ul>  
        </div>        <div th:if="${not #lists.isEmpty(point)}"
                           <p1><span th:text="${point.name}">Point</span></p1>
            <ul>
                <li th:each="observation : ${point.observations}">
                    <span th:text="${observation.temperature}">Temperature</span>
                    <span th:text="${observation.date}">Date</span>
                    <span th:text="${observation.time}">Time</span>
                </li>   
            </ul>  
        </div>
        <div>
            <form method="POST" action="/" enctype="multipart/form-data" >
                <input type="text" name="temperature" placeholder="Temperature" required/><br>
                <input type="date" name="date" required><br>
                <input type="time" name="time" required><br>
                <input type="submit" value="Send!"/>
            </form>

        </div>



    </body>


</html>
